:root {
  --phone-breakpoint: 0;
  --tablet-breakpoint: 768px;
  --laptop-breakpoint: 1024px;

  --gray-dark: hsl(30, 3%, 15%);
  --gray: hsl(30, 1%, 62%);
  --gray-light: hsl(30, 4%, 91%);

  --red-dark: hsl(359, 81%, 17%);
  --red: hsl(359, 37%, 68%);
  --red-light: hsl(0, 100%, 93%);

  --orange-dark: hsl(30, 81%, 17%);
  --orange: hsl(30, 37%, 68%);
  --orange-light: hsl(30, 100%, 93%);

  --yellow-dark: hsl(60, 81%, 17%);
  --yellow: hsl(60, 37%, 68%);
  --yellow-light: hsl(60, 100%, 93%);

  --green-dark: hsl(120, 81%, 17%);
  --green: hsl(120, 37%, 68%);
  --green-light: hsl(120, 100%, 93%);

  --aqua-dark: hsl(180, 81%, 17%);
  --aqua: hsl(180, 37%, 68%);
  --aqua-light: hsl(180, 100%, 93%);

  --blue-dark: hsl(210, 81%, 17%);
  --blue: hsl(210, 37%, 68%);
  --blue-light: hsl(210, 100%, 93%);

  --purple-dark: hsl(270, 81%, 17%);
  --purple: hsl(270, 37%, 68%);
  --purple-light: hsl(270, 100%, 93%);

  --pink-dark: hsl(300, 81%, 17%);
  --pink: hsl(300, 37%, 68%);
  --pink-light: hsl(300, 100%, 93%);

  --black: hsl(0, 0%, 0%);
  --black-alpha: hsla(0, 0%, 0%, 0.50);

  --gray-200: hsl(30, 2%, 17%);
  --gray-300: hsl(30, 1%, 33%);
  --gray-400: hsl(30, 1%, 44%);
  --gray-500: hsl(30, 1%, 53%);
  --gray-600: hsl(30, 1%, 57%);
  --gray-700: hsl(30, 1%, 71%);
  --gray-700-alpha: hsla(30, 1%, 71%, 0.65);
  --gray-800: hsl(30, 8%, 95%);
  --gray-900: hsl(0, 0%, 92%);
  --gray-900-alpha: hsla(0, 0%, 92%, 0.69);

  --white: hsl(0, 0%, 100%);

  --interface-blue-dark: hsl(213, 81%, 17%);
  --interface-blue: hsl(212, 100%, 65%);
  --interface-blue-light: hsl(215, 100%, 93%);
}

html { 
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.15;
  font-size: 62.5%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after { 
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--gray-200);
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  -webkit-tap-highlight-color: var(--gray-200);
  font-size: 1.6rem;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  background-color: var(--gray-200);
}

@media only screen and (min-width: 0px) {
  .laptop,
  .tablet {
    display: none !important;
  }

  .phone {
    display: inherit !important;
  }
}

@media only screen and (min-width: 768px) {
  .laptop,
  .phone {
    display: none !important;
  }

  .tablet {
    display: inherit !important;
  }  
}

@media only screen and (min-width: 1024px) {
  .tablet,
  .phone {
    display: none !important;
  }
  
  .laptop {
    display: inherit !important;
  }  
}